
\.pypirc

\.idea/

*.pyc

/makefile

/test/
examples/

torrentscrapper/webscrappers/\.old/rarbg_lib\.py
torrentscraper/[HorribleSubs].Overlord.II.-.13.[720p].torrent
torrentscraper/Rick.and.Morty.S03E08.2017.HDTV.x264.-.SPARKS.torrent
torrentscraper/The.Hurricane.Heist.2018.1080p.KORSUB.HDRip.x264.AAC2.0-STUTTERSHIT-[rarbg.to].torrent
